.nav {
  background: #111;
  padding: 15px 0;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.menu a {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {

  .nav-container {
    flex-direction: column;
    gap: 15px;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .menu a {
    margin-left: 0;
  }
}